/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem var(--page-inline);
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.logo a {
    text-decoration: none;
    color: #1A1A1B;
    font-weight: inherit;
    letter-spacing: inherit;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: blue;
}

.nav-links a.active {
    color: #4285F4;
    font-weight: bold;
}


/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 4px;
}

.hamburger span {
    width: 24px;
    height: 2px;
    background: #1A1A1B;
    transition: 0.3s ease;
}

/* Responsive Navbar */
@media (max-width: 780px) {
/* Hamburger visible on mobile */
.hamburger {
    display: flex;
    position: relative;
    z-index: 1002;
}

/* Hide menu by default */
.nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: white;

    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--page-inline);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1001;
}

/* Spacing for links */
.nav-links a {
    margin: 4px 0;
}

/* Show menu when active */
.nav-links.active {
    max-height: 200px;
}
}
